{% extends 'kaczacze/base.html' %}


{% block content %}
{% load custom_filters %}
{% load crispy_forms_tags %}
<style>
    .smaller-col {
        height: 50%; /* Adjust the width as needed */
        /* Add any other styling you need */
    }



</style>

<script>
     function scrollToLastPosition() {
        var lastPosition = sessionStorage.getItem('lastPosition');
        if (lastPosition) {
            window.scrollTo({
                top: lastPosition,
                behavior: 'smooth' // Ustawienie efektu smooth scrolling
            });
            sessionStorage.removeItem('lastPosition');
        }
    }

    // Funkcja do zapisywania aktualnej pozycji przed przejściem na inną stronę
    window.onbeforeunload = function() {
        sessionStorage.setItem('lastPosition', window.scrollY);
    };

    // Wywołanie funkcji scrollToLastPosition po załadowaniu strony
    window.onload = function() {
        scrollToLastPosition();
    };
</script>
{% if user.is_authenticated %}
<div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background-color: #676c74;">

                <div class="card-header" style="background-color: #004080;">Create Post</div>
                <div class="card-body" style="background-color: #676c74;">
                    <form method="post" style="width:90%; margin: 0 auto;">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
                    </form>
                </div

            </div>
        </div>
    </div>
</div>

{% endif %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background-color: #676c74;" >
                <div class="card-body" style="background-color: #676c74;">
                    <a  href='{% url "main" %}?option=most_liked' style="color:white; text-decoration:none;"><button class="btn btn-primary" style='float:left; width: 40%;'>Gorące</button></a>
                    <a  href='{% url "main" %}' style="color:white; text-decoration:none;"><button class="btn btn-primary" style='float:right; width: 40%;'>Głowna</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% for post in wpisy_list %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8" style="width:120%; !important">
            <div class="card" style="background-color: #676c74;">
                <div class="card-header text-white" style="background-color: #004080;">
                    <div class="col-auto" style='float:left; width:20%; padding:1%;'>
                        <img class="img-fluid rounded-circle" src="{{ post.user.profile.image.url }}">
                    </div>
                    <div style='float:left; width:77%'>
                    <div style='float:left'>
                        {% if post.time %}
                            <em>{{ post.time }}</em>
                        {% endif %}
                    </div>
                    <div style='float:right'>





                        <em>{{ post.date }}</em>
                    </div>
                    <div style='clear:both;'></div>

                    <div style='float:left'>
                    <em><a class='userLink' href='{% url "profile" post.user.username %}' style="text-decoration: none;">{{ post.user }}</a></em>

                    <em></em>
                    </div>
                    <div style='float:right;'>
                        {% if post.user == request.user %}
                            <a  id="{{ post.id }}" data-postid='{{ post.id }}' class='delconfrm'
                            style='text-decoration: none; color:white;'
                            data_url="{% url 'deletepost' post.id %}"><i class="fas fa-trash trashIcon"></i> &nbsp;</a>

                        {% endif %}



                        {% if user.is_authenticated %}

                            {% if vote_values|get_vote_value:post.id == 1 %}
                            <button class="like_post"  id="like_button{{post.id}}" data-postid="{{post.id}}" url="{% url 'vote' post.id %}" style='color:green; background-color:#5dde7f;'>+</button>
                            {% else %}
                            <button class="like_post"  id="like_button{{post.id}}" data-postid="{{post.id}}" url="{% url 'vote' post.id %}" style='color:green;'>+</button>
                            {% endif %}

                        {% else %}
                        <a href="{% url 'login' %}?next={{request.path}}"><button class="like_post2"  id="like_button{{post.id}}" data-postid="{{post.id}}"  style='color:green;'>+</button></a>
                        {% endif %}

                        <em id='likes{{post.id}}'>{{ post.total_votes }}</em>


                        {% if user.is_authenticated %}

                            {% if vote_values|get_vote_value:post.id == -1 %}
                            <button class="unlike_post"  id="unlike_button{{post.id}}" data-postid="{{post.id}}" url="{% url 'downvote' post.id %}" style='color:red; background-color:#c76565;'>-</button>
                            {% else %}
                            <button class="unlike_post"  id="unlike_button{{post.id}}" data-postid="{{post.id}}" url="{% url 'downvote' post.id %}" style='color:red;'>-</button>
                            {% endif %}

                        {% else %}
                        <a href="{% url 'login' %}?next={{request.path}}"><button class="unlike_post2"  id="unlike_button{{post.id}}" data-postid="{{post.id}}"  style='color:red;'>-</button></a>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: #676c74;">
                    <ul>

                    </ul>
                    <p>{{ post.content|linebreaksbr  }}</p>
                </div>
                <div style="margin-bottom:1%;">
                {% if user.is_authenticated %}


                        <div style="width:100%;" >
                            <form method="post" action="{% url 'dodaj_komentarz' post.id %}" class="form-inline">
                                <div class="form-group" style="width:69%; margin-left:1%;">
                                    {% csrf_token %}
                                    {{ form_komentarze|crispy }}
                                    <input type="hidden" id="scrollPositionInput" name="scroll_position" value="">
                                </div>
                                <button type="submit" class="btn btn-primary" style="padding: 2.5%; width:29%;  margin-right: 1%; font-size:0.9em;">Dodaj komentarz</button>
                            </form>
                        </div>



                {% endif %}
                </div>
                <div id="post{{ post.id }}" data-komentarze="{{ post.komentarze.count }}" style='display:none;'>
                        <!-- Zawartość posta -->
                  </div>
                <ul class="list-group list-group-flush" style="background-color: #676c74;">
                    {% for komentarz in post.komentarze.all %}
                    <!-- Szablon HTML -->


                    {% if forloop.counter >= 4 %}
                    <div class='comment{{post.id}}' style='display:none;  padding: 0.5em 1em;margin-bottom: 0.5em;margin-top: 0.5em;' toshow='True'>
                        <li class="list-group-item" style="background-color: #394048; color: white;">
                            <div class='com'>


                                <div style='float:left'>
                                    {{ komentarz.time }}
                                </div>
                                <div style='float:right'>
                                    <em>{{ komentarz.date }}</em>
                                </div>
                                <div style='clear:both;'></div>
                                <div style='float:left'>
                                <em><a class='userLink' href='{% url "profile" komentarz.user.username %}' style="text-decoration: none;">{{ komentarz.user }}</a></em>
                                </div>
                                <div style='float:right;'>
                                    {% if komentarz.user == request.user %}
                                        <a id="{{ komentarz.id }}" data-classid='{{ post.id }}' data-postid='{{ komentarz.id }}' class='delconfrm2' style='text-decoration: none; color:white;'  data_url="{% url 'deletecomment' komentarz.id %}">
                                            <i class="fas fa-trash trashIcon"></i> &nbsp;
                                        </a>



                                    {% endif %}

                                </div>







                            <br>
                            <hr class="thick-line">
                            <div>{{ komentarz.content }}</div>
                            </div>
                        </li>
                    </div>
                    {% else %}
                    <div class='comment{{post.id}}' toshow='True' style='display:block; padding: 0.5em 1em;margin-bottom: 0.5em;margin-top: 0.5em;'>
                        <li class="list-group-item" style="background-color: #394048; color: white;">
                            <div class='com'>
                            <div style='float:left'>
                                    {{ komentarz.time }}
                                </div>
                                <div style='float:right'>
                                    <em>{{ komentarz.date }}</em>
                                </div>
                                <div style='clear:both;'></div>

                                <div style='float:left'>
                                <em><a  class='userLink' href='{% url "profile" komentarz.user.username %}' style="text-decoration: none;">{{ komentarz.user }}</a></em>
                                </div>
                                <div style='float:right;'>
                                    {% if komentarz.user == request.user %}
                                        <a id="{{ komentarz.id }}" data-classid='{{ post.id }}' data-postid='{{ komentarz.id }}' class='delconfrm2' style='text-decoration: none; color:white;'  data_url="{% url 'deletecomment' komentarz.id %}">
                                            <i class="fas fa-trash trashIcon"></i> &nbsp;
                                        </a>



                                    {% endif %}

                                </div>

                            <div style="clear:both;"></div>
                            <hr class="thick-line">
                            <div>{{ komentarz.content }}</div>
                            </div>
                        </li>
                    </div>

                    {% endif %}
                    {% if forloop.last and forloop.counter >= 4 %}
                        <li id="rozwin{{ post.id }}" class="list-group-item justify-content-center align-items-center" style="background-color: #676c74; color: white;">
                            <div>
                            <button name="rozwin" id='buttons' onclick="toggleElements(this)" data-classid="{{ post.id }}" class="btn btn-primary" style="width: 100%;">Rozwiń więcej komentarzy</button>
                            </div>
                        </li>


                    {% endif %}


                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background-color: #676c74;" >
                <div class="card-body" style="background-color: #676c74;">
                    {% if request.GET.option %}

                        <div style="width:33%; padding-bottom: 1%; float:left;">
                        {% if wpisy_list.has_previous %}
                        <a href="?option=most_liked&page={{ wpisy_list.previous_page_number }}" style="color:white; text-decoration:none;"><button class="btn btn-primary" style='float:left;width:100%;'>Poprzednia</button></a>
                        {% endif %}
                        </div>
                        <div class="current" style="width:33%; float:left; text-align:center;">
                            Strona {{ wpisy_list.number }} z {{ wpisy_list.paginator.num_pages }}
                        </div>
                        <div style="width:33%; padding-bottom: 1%;float:left;">
                        {% if wpisy_list.has_next %}
                        <a href="?option=most_liked&page={{ wpisy_list.next_page_number }}" style="color:white; text-decoration:none;"><button class="btn btn-primary" style='float:right;width:100%;'>Następna</button></a>
                        {% endif %}
                        </div>
                    {% else %}
                        <div style="width:33%; padding-bottom: 1%; float:left;">
                        {% if wpisy_list.has_previous %}
                        <a href="?page={{ wpisy_list.previous_page_number }}" style="color:white; text-decoration:none;"><button class="btn btn-primary" style='float:left;width:100%;'>Poprzednia</button></a>
                        {% endif %}
                        </div>
                        <div class="current" style="width:33%; float:left; text-align:center;">
                            Strona {{ wpisy_list.number }} z {{ wpisy_list.paginator.num_pages }}
                        </div>
                        <div style="width:33%; padding-bottom: 1%;float:left;">
                        {% if wpisy_list.has_next %}
                        <a href="?page={{ wpisy_list.next_page_number }}" style="color:white; text-decoration:none;"><button class="btn btn-primary" style='float:right;width:100%;'>Następna</button></a>
                        {% endif %}
                        </div>



                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>







</div>


{% endblock %}
