
{% extends 'kaczacze/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center login-container">
    <div class="col-md-6 col-lg-4">
        <div class="card" "background-color: #676c74;">
            <div class="card-header bg-primary text-white">
                Login
            </div>
            <div class="card-body" style="background-color: #676c74;">
                <form  method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>


                </form>
                <div style="width:100%; margin-top: 1em;"><div style='margin: 0 auto; width:24%;'><a  href="{% url 'register' %}" style='text-decoration: none; color:white; margin: 0 auto; font-size:1.3em;'>Sign up</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
