
{% extends 'kaczacze/base.html' %}
{% block title %}Registration{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .text-muted{
        color:#ddd !important;
    }
</style>

<div class="row justify-content-center login-container">
    <div class="col-md-6 col-lg-4">
        <div class="card" style="background-color: #676c74;">
            <div class="card-header bg-primary text-white">
                Registration
            </div>
            <div class="card-body" style="background-color: #676c74; color:white;">
            <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}


                    <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
                <div style="width:100%; margin-top: 1em;"><div style='margin: 0 auto; width:20%;'><a href="{% url 'login' %}?next=/" style='text-decoration: none; color:white; margin: 0 auto; font-size:1.3em;'>Login</a></div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}