<html>
    <head>
        <title>Movies List</title>
    </head>
    <body>
        <h1>Movies List</h1>

        {% if movies_list %}
        <ul>
        {% for movie in movies_list %}

        <li>
            <a href="{% url 'movie' movie.id %}">{{ movie.title }}</a>
            {% if movie.user == request.user %}
            <span>   </span><a href="{% url 'delete' movie.id %}">Usuń</a>
            <a href='{% url "edit" movie.id  %}'>Edytuj</a>
            {% endif %}
        </li>

        {% endfor %}
            </ul>
        {% else %}
            <p>There is no such list</p>
        {% endif %}
        <div>
            {% if request.user.is_authenticated %}
                <h3><a href="{% url 'create' %}">add</a> a movie to Database <a href="{% url 'logout' %}?next=/genericviewsDemo/movies/">log out</a></h3>
            {% else %}
                <h3>you need to <a href="{% url 'login' %}?next={{request.path}}">log in</a> to add movie to a database</h3>
            {% endif %}

        </div>
    </body>
</html>